* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.dropdown-button,
.dropdown-content {
  font-family: Arial, sans-serif;
}

.background-image {
  background-image: url('images/IMG_20221217_143756.jpg');
  background-size: cover;
  background-position: center top -200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0;
  border-right: 0;
}
  
.overlay-text {
  color: #753aff;
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

.images {
  background-color: rgb(93, 93, 247);
  height: 330px;
  width: 100%;
}

.images-content {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.images-content img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 1;
  transition: all 0.5s ease;
  border: 2px solid black;
}

.images-content img:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.images-content .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.5s ease;
}
